<div style="text-align:center;">
	<?= "<p style=\"color:red;\">".$msgU."</p>"; ?>
	<p>Login: <?= $loginU;?></p>
	<p>Nom: <?= $nomU;?></p>
	<p>Prenom: <?= $prenomU;?></p>
	<p>Adresse: <?= $adresseU;?></p>
	<p>Code postal: <?= $codePostalU;?></p>
	<p>Ville: <?= $villeU;?></p>
	<p>Date d'inscription: <?= $date; ?></p>
	<p>Email: <?= $emailU; ?></p>
	<p>Infos Complementaires: <?= $infoU; ?></p>
	<a href="index.php?page=edit_profile&<?=$idU;?>">Modifier ses infos</a>
	<?php require("apps/profile_admin.php"); ?>
</div>
