<div class="content main_div overflow">
	<p class="error_msg"><?=$msg;?></p>
	<form action="index.php?page=edit_profile&id=2" method="post">
		<div class="div_profil_infos">
		<h3>Informations</h3>
		<p><span class="head_info">Adresse Email : </span><input type="text" value="<?=$infoU;?>" name="update_infos" /></p>
		</div>
		<div class="div_profil_infos">
			<h3>Présentation</h3>
			<p><span class="head_info">Nom : </span><input type="text" value="<?=$codePostalU;?>" name="update_cp" /></p>
			<p><span class="head_info">Prénom : </span><input type="text" value="<?=$villeU;?>" name="update_ville" /></p>
		</div>
		<div class="div_profil_infos">
			<h3>Coordonnées postale</h3>
			<p><span class="head_info">Adresse : </span><input type="text" value="<?=$codePostalU;?>" name="update_cp" /></p>
			<p><span class="head_info">Code postal : </span><input type="text" value="<?=$villeU;?>" name="update_ville" /></p>
			<p><span class="head_info">Ville : </span><input type="text" value="<?=$emailU;?>" name="update_email" /></p>
		</div>
		<div class="profil_info_comp clear">
			<h3 class="clear">Infos Complementaires:</h3>
			<p><textarea name="update_info_comp" cols="30" rows="10"><?= $infoU; ?></textarea></p>
		</div>
		<p class="p_btn"><input class="sub_medium" name="update_profil_sub" type="submit"></p>
	</form>
	<p class="p_btn"><button class="btn" onclick="window.location='index.php?page=profile&<?=$idU;?>'">Annuler</button></p>

</div>