<div class="content main_div overflow">
	<p class="error_msg"><?=$msgU;?></p>
	<div class="div_profil_infos">
		<h3>Informations</h3>
		<p class="profil_info">Login: <?= $loginU;?></p>
		<p class="profil_info">Email: <?= $emailU; ?></p>
	</div>
	<div class="div_profil_infos">
		<h3>Présentation</h3>
		<p class="profil_info">Nom: <?= $nomU;?></p>
		<p class="profil_info">Prenom: <?= $prenomU;?></p>
		<p class="profil_info">Date d'inscription: <?= $date; ?></p>
	</div>
	<div class="div_profil_infos">
		<h3>Coordonnées postale</h3>
		<p class="profil_info">Adresse: <?= $adresseU;?></p>
		<p class="profil_info">Code postal: <?= $codePostalU;?></p>
		<p class="profil_info">Ville: <?= $villeU;?></p>
	</div>
	<p class="profil_info clear">Infos Complementaires: <?= $infoU; ?></p>
	<p><a href="index.php?page=edit_profile&<?=$idU;?>">Modifier ses infos</a></p>
	<?php require("apps/profile_admin.php"); ?>
</div>
