<select name="scroll_menu" value="">
	<option selected="selected" value="">Fait ton choix</option>
	<?php require("apps/display_entrees.php"); ?>
</select>
<select name="scroll_menu" value="">
	<option selected="selected" value="">Fait ton choix</option>
	<?php require("apps/display_plats.php"); ?>
</select>
<select name="scroll_menu" value="">
	<option selected="selected" value="">Fait ton choix</option>
	<?php require("apps/display_desserts.php"); ?>
</select>
<select name="scroll_menu" value="">
	<option selected="selected" value="">Fait ton choix</option>
	<?php require("apps/display_boissons.php"); ?>
</select>
