<h2>Création d'un compte:</h2>

<?= $msg_register; ?>

<form action="" method="POST" name="form_user">
	<div class="form_id">
		<h3>Identifiant</h3>
		<br /><br />
		<p>Login:</p>
		<input type="text" name="login" required placeholder="Mascotte"/>
		<br />
		<p>Password:</p>
		<input type="password" name="password" required placeholder="Password_mascotte"/>
		<br />
		<p>Email:</p>
		<input type="email" name="email" required placeholder="mascotte@resto.deg "/>
		<br />
	</div>
	<div class="form_presentation">
		<h3>Présentation</h3>
		<br /><br />
		<p>Nom:</p>
		<input type="text" name="nom" required placeholder="Délicieux"/>
		<br />
		<p>Prénom:</p>
		<input type="text" name="prenom" required placeholder="Miam-Miam"/>
		<br />
		<p>Votre date de naissance:</p>
		<input type="date" name="birthday" placeholder="Je en m'en rappel pas -_-'"/>
		<br />
	</div>
	<div class="form_coordonnees">
		<h3>Coordonnées postale</h3>
		<br /><br />h3
		<p>Adresse:</p>
		<input type="text" name="adresse" required placeholder="14 av. du meilleur restaurant"/>
		<br />
		<p>Code Postal:</p>
		<input type="number" name="code_postal" min="1" max="99999" required placeholder="45132"/>
		<br />
		<p>Ville:</p>
		<input type="text" name="ville" required placeholder="Deg City"/>
		<br />
		<p>Information complémentaires</p>
		<textarea name="info_complementaire" cols=45 rows=4 value="" placeholder="digicode - bâtiments cours - étage - porte"></textarea>
		<br />
	</div>
	<input type="submit" value="&rarr;"/>
</form>