<div style="text-align:center;">
	<?= $msg; ?>
	<form action="" method="post">
		Mot de passe: <p><input type="password" value="<?=$passU;?>" name="update_pass"></p>
		Adresse: <p><input type="text" value="<?=$adresseU;?>" name="update_adresse"></p>
		Code postal: <p><input type="text" value="<?=$codePostalU;?>" name="update_cp"></p>
		Ville: <p><input type="text" value="<?=$villeU;?>" name="update_ville"></p>
		Adresse Email: <p><input type="text" value="<?=$emailU;?>" name="update_email"></p>
		Infos complémentaires: <p><input type="text" value="<?=$infoU;?>" name="update_infos"></p>
			<input type="submit">
	</form>

	<a href="index.php?page=profile&<?=$idU;?>">Revenir en arrière</a>
</div>